@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root{
    --main-bg-color:rgb(9, 135, 253);
}
*{
    padding: 0;
    margin: auto;
}

header{   
    background: var(--main-bg-color);  
    font-family: 'Lato', sans-serif;  
}
nav {
    height: 58px;
    display: flex;
  /*  justify-content: flex-start;*/
    align-items: center;    
}

nav ul{
  display: flex;
  
  align-items: center;
}
div{
    display: block;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width:88px;
    padding:0 30px;
    
}
nav ul li{
     list-style: none;
     padding: 0 23px;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
    font-family: 'Lato', sans-serif;
}
nav ul li a:hover{
    color:white;
   font-weight: bolder;
}
nav ul li a{
    display: flex;
    color: white;
    text-decoration: none;
}
.search{
    display: flex;
  align-items: center;
}
.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
   margin : 0 16px 0 56px;
    padding: 0 12px;
}
.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
button{
    width:100px;
   /* border-radius: 1px;*/
    background-color: white;
    }
.slider{
       width: 90vw;     
      
        margin: 12px auto ;
        overflow: hidden;
    }
.card{
        max-width: 91vw;
        margin: 37px auto;
        color: black;
        background-color: white ;
        border-radius: 5px;  
        overflow: hidden;       
    }
.cards{
        display: flex;
    }
.card-items  {
      display: inline-flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 15px;
      
}

body{
        background-color: rgb(252, 249, 249);
    }

/*.card1{
    background-color: white;
     margin: 0 50px;
     border-radius: 5px;
}*/


footer{
    height:12vh;
    background-color: var(--main-bg-color);
    color: rgb(43, 35, 35);
    font-family: 'Lato', sans-serif;

}


.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.btn{
    padding:5px 10px;
    color: var(--main-bg-color);
    background-color: white;
    border: 2px soslid white;
  /*  border-radius: 7px;*/
    cursor: pointer;
   font-family: 'Lato', sans-serif;
}
.my-2{
    margin: 25px 0;
}
.text-center{
    text-align: center;
   width: 12vw;
   margin: 5px 0;
}
.btn:hover{
    
    font-weight: bolder;
}

@media screen and (max-width:1000px){
    nav{
        flex-direction: column;
        height: 130px;
    }
    /*.logo{
       justify-content: center;
         margin: 12px 0;
    }*/
    
    .slider{
        height: 23vh;
    }
    .search{
        justify-content: center;
    }
    .search input{
        margin: 12px 16px;
    }
    nav ul {
        justify-content: center;
        height: 34px;
    }
    .card-items img{
        width: 140px;
    }
    .card{
        overflow: scroll;
    }
}


